server:
  port: 8080

spring:
  application:
    name: "api-gateway"

logging:
  level:
    com.vet.appointment.system.api.gateway: DEBUG
    org:
      springframework: DEBUG

jwt:
  secret: ${JWT_SECRET:eba2564000c1fa6172fb005030cd5c173dd15e8c6e5fb8d2b67093d6dc2712ce}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_HOST:http://localhost}:8761/eureka

